# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Gtags files
GPATH
GRTAGS
GSYMS
GTAGS

# Emacs temporary files
*#
*~